<!-- <h1>Sessions#new</h1> -->
<!-- <p>Find me in app/views/sessions/new.html.erb</p> -->
<!-- <p style="color:Red"><%= @error %></p> -->
<% if @error %>
  <div class="alert alert-danger" role="alert">
    <%= @error %>
  </div>
<% end %>
<% provide(:title, "Log in") %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', :placeholder => "LINE@example.com"%>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div>
  良縁報告
</div>
