<% if params[:notice] %>
  <div class="alert alert-success" role="alert"><%= params[:notice] %></div>
<% end %>

<% if @error %>
  <div class="alert alert-danger" role="alert">
    <%= @error %>
  </div>
<% end %>
<% provide(:title, "Log in") %>
<div class="row">
  <!-- <div class="jumbotron"> -->
  <div class="container col-md-4">
    <img src="assets/yoshi.jpg" class="img-responsive">
  </div>
<!-- </div> -->
  <div class="container col-md-4">
    吉岡里帆のような人と出会いたいあなたに。<br>
    完全美男美女限定版!
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', :placeholder => "LINE@example.com"%>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
    <br>
  </div>
  <!-- <div class="container col-md-2">
    <%= image_tag 'top.jpg'%>
  </div> -->
</div>
