<% if params[:notice] %>
  <div class="alert alert-success" role="alert"><%= params[:notice] %></div>
<% end %>
<div style="background-image:url(<%= asset_path "yoshi.png" %>)"/>
<!-- <img src="assets/yoshi.png" class="img-responsive"> -->
<% if @error %>
  <div class="alert alert-danger" role="alert">
    <%= @error %>
  </div>
<% end %>
<% provide(:title, "Log in") %>
<div class="container-fluid">
<div class="row">
  <!-- <div class="jumbotron"> -->
  <div class="container col-md-2">
    <!-- <div style="background-image:url(<%= asset_path "yoshi2.jpg" %>)" /> -->
    <!-- <img src="assets/yoshi2.jpg" class="img-responsive"> -->
  </div>
<!-- </div> -->
  <div class="container col-md-4">
    <!-- <img src="assets/sub.png"> -->
    <br><br><br><br><br><br><br><br>
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', :placeholder => "LINE@example.com"%>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
    <br>
  </div>
  <!-- <div class="container col-md-4">
  </div> -->
</div>
</div>
<br><br><br><br><br><br><br><br>
