<form>
<%= form_with(model: date_schedule, local: true) do |form| %>
  <% if date_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(date_schedule.errors.count, "error") %> prohibited this date_schedule from being saved:</h2>

      <ul>
      <% date_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.hidden_field :date_sug_user_id, :value => date_sug_user_id%>
    <%= form.hidden_field :date_tar_user_id, :value => date_tar_user_id%>
    <%= form.text_field :date_of_meet, id: :date_schedule_date_of_meet ,class: 'date-picker'%>
  <!-- このサブミットで予定を提案するメッセージを飛ばす -->
    <% params[:receive_id] = date_tar_user_id %>
  <div class="actions" align="right">
    <%= form.submit '提案する', class: "btn btn-primary" %>
  </div>
<% end %>
</form>
