<%= form_with(model: date_schedule, local: true) do |form| %>
  <% if date_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(date_schedule.errors.count, "error") %> prohibited this date_schedule from being saved:</h2>

      <ul>
      <% date_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%= form.label :date_sug_user_id %>
    <%= form.number_field :date_sug_user_id, id: :date_schedule_date_sug_user_id %>
  </div>

  <div class="field">
    <%= form.label :date_tar_user_id %>
    <%= form.number_field :date_tar_user_id, id: :date_schedule_date_tar_user_id %>
  </div> -->

  <div class="field">
    <!-- <%= form.label :date_of_meet %> -->
    <%= form.text_field :date_of_meet, id: :date_schedule_date_of_meet ,class: 'date-picker'%>
  </div>

  <!-- <div class="field">
    <%= form.label :confirm %>
    <%= form.check_box :confirm, id: :date_schedule_confirm %>
  </div> -->

  <!-- <div class="actions"> -->
    <%= form.submit '提案する', class: "btn btn-primary"%>
  <!-- </div> -->
<% end %>
