<h1></h1>
<% if params[:notice] %>
  <div class="alert alert-success" role="alert"><%= params[:notice] %></div>
<% end %>
<div class="container">
<div class="container col-md-4">
  <div id="ad-carousel" class="carousel slide" data-ride="carousel" data-interval="3500">

    <!-- 何枚目かの画像かを表すインディケーター -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#ad-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#ad-carousel" data-slide-to="1" class=""></li>
      <li data-target="#ad-carousel" data-slide-to="2" class=""></li>
    </ol> -->

    <!-- 実際の画像の表示処理 -->
    <div class="carousel-inner">
      <div class="carousel-item active">    <!-- activeをつけたものがページ表示時に表示される -->
        <%= image_tag 'carousel1.png', class: "d-block w-100", alt:"First slide"%>
      </div>
      <div class="carousel-item">
        <%= image_tag 'carousel2.png', class: "d-block w-100", alt:"Second slide"%>
      </div>
      <div class="carousel-item">
        <%= image_tag 'carousel3.png', class: "d-block w-100", alt:"Third slide"%>
      </div>
    </div>

    <!-- 前の画像へ戻るための矢印ポインタ -->
    <a class="carousel-control-prev" href="#ad-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#ad-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
  <div class = "row">
    <% @users.each do |user| %>
    <div class="container col-md-3">
        <div class="top5" align="center">
          <%= form_for(MatchRequest.new) do |form| %>
            <div class="container">
            <%= link_to image_tag(user.image, class: "rounded-circle", size:"150x150"), controller: :users, action: :profile,id: user%>
            </div>
            <div class="container">
              <h5><%= link_to user.name, controller: :users, action: :profile,id: user %></h5>
              <p>
                <% if user.prof %>
                  <p class="comment" align="left"><%= user.prof.truncate(15)%></p>
                <% else %>
                  <br>
                <% end %>
              </p>
              <%= form.hidden_field :request_user_id, :value => @current_user.id%>
              <%= form.hidden_field :target_user_id, :value => user.id%>
              <%= form.submit 'リクエストを送る', class: "btn btn-primary"%>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
