<h1></h1>
<% if params[:notice] %>
  <div class="alert alert-success" role="alert"><%= params[:notice] %></div>
<% end %>
<div class="container">

  <div class = "row">
    <% @users.each do |user| %>
    <div class="col-3">
        <div class="targets" align="center">
          <%= form_for(MatchRequest.new) do |form| %>
            <%= link_to image_tag(user.image, class: "rounded-circle", size:"150x150", style:"border:2px solid white;"), controller: :users, action: :profile,id: user%>
              <h5><%= link_to user.name, controller: :users, action: :profile,id: user %></h5>
              <p>
                <% if user.prof.length > 0 %>
                  <p class="comment" align="left"><%= user.prof.truncate(15)%></p>
                <% else %>
                  <p class="comment" align="left" style="color:silver;">no profile</p>
                <% end %>
              </p>
              <%= form.hidden_field :request_user_id, :value => @current_user.id%>
              <%= form.hidden_field :target_user_id, :value => user.id%>
              <%= button_tag type: :submit, class:"btn-good" do %>
                <%= image_tag "good_white.svg",size:"20x20"%>
                いいね！
              <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer,:previous_label=>'前', :next_label=>'次', class:"navbar-center"%>
</div>
