<!DOCTYPE html>
<html>

  <head>
    <title>Matching</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user%>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Papillon</a>
      <!-- アプリのアイコン -->
      <!-- <a class="navbar-brand" href="#">
        <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
      </a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <%= link_to 'マイページ', user_path(@current_user), class: "nave-item nav-link" %>
          <%= link_to 'マッチを探す', match_requests_target_user_list_path(@current_user), class: "nave-item nav-link" %>

          <!-- なぜかドロップダウンが展開されない -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              設定
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'プロフィールを編集', edit_user_path(@current_user), class: "dropdown-item" %>
              <a class="dropdown-item" href="#">お問い合わせ</a>
              <a class="dropdown-item" href="#">良縁報告</a>
            </div>
          </li>

          <li class="nav-item">
            <%= link_to 'ログアウト', logout_path, method: :delete, class: "nave-item nav-link" %>
          </li>
          <a class="nav-item nav-link disabled" href="#" style="color:Blue"><%=@current_user.name%>でログイン中</a>
        </ul>
      </div>
    </nav>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
