<p id="notice"><%= notice %></p>

<h1>Messages</h1>


<%= form_with model: Message.new do |form| %>
  <div class="field">
    <% form.label :body %>
    <%= form.text_field :body, id: :message_body %>
  </div>
  <div class="field">
    <%= form.hidden_field :send_user_id, :value => @send_user.id %>
    <%= form.hidden_field :receive_user_id, :value => @receive_user.id %>
  </div>
  <div class="actions">
    <%= form.submit "é€ä¿¡"%>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <!--th>Body</th>
      <th>Send user</th>
      <th>Receive user</th-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.reverse_each do |message| %>
      <tr>
        <% if message.send_user_id == @send_user.id %>
          <td><%= @send_user.name %></td>
          <td><%= message.body %></td>
          <td><%= message.created_at %></td>
        <% else message.receive_user_id == @send_user.id %>
          <td><%= @receive_user.name %></td>
          <td><%= message.body %></td>
          <td><%= message.created_at %></td>
        <% end %>
        <td><% message.send_user_id %></td>
        <td><% message.receive_user_id %></td>
        <td><% link_to 'Show', message %></td>
        <td><% link_to 'Edit', edit_message_path(message) %></td>
        <td><% link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>





<% link_to 'New Message', new_message_path %>
