<!-- <p id="notice"><%= notice %></p> -->
<div class="sample">
<% if params[:notice] %>
  <div class="alert alert-success" role="alert"><%= params[:notice] %></div>
<% end %>
<div class="container-fluid">
<div class="row" style="padding:2%;">
  <div class="col-8"  style="background-color:#4BB1FF;border-radius: 15px;">
    <%= form_with model: Message.new do |form| %>
      <div class="field">
        <%= form.hidden_field :send_user_id, :value => @current_user.id %>
        <%= form.hidden_field :receive_user_id, :value => @receive_user.id %>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend"><span class="input-group-text">To: <%= @receive_user.name%></span></div>
        <% form.label :body %>
        <%= form.text_field :body, id: :message_body, class: "form-control", placeholder: "想いを伝えよう。" %>
        <div class="input-group-append">
          <%= form.submit "送信",class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <div class="box_srcollbar">
      <% if @messages %>
        <% @messages.reverse_each do |message| %>
            <div class="comment_area">
              <div ng-repeat="data in hoge.chatdata">
                <div class="row">
                  <div class="col-md-12">
                    <% if message.send_user_id == @current_user.id %>
                      <div class="pull-right">
                        <%= image_tag @current_user.image, :size => "25x25" ,class: "rounded-circle" %>
                        <%= @current_user.name %>
                      </div>
                      <p class="right_balloon"><%= message.body %></p>
                    <% else message.receive_user_id == @current_user.id %>
                      <span ng-if="data.type == 'chat'">
                        <div class="pull-left">
                          <%= link_to image_tag(@receive_user.image, class: "rounded-circle", size:"25x25"), controller: :users, action: :profile, id:@receive_user%>
                          <%= @receive_user.name %>
                        </div>
                        <p class="left_balloon"><%= message.body %></p>
                      </span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-4">
    <div class="box">
    <p align="center">会いたい！ボタン</p>
    <%= form_for(MeetRequest.new,url: meet_requests_url) do |form|%>
      <%= form.hidden_field :meet_request_user_id, :value => @current_user.id %>
      <%= form.hidden_field :meet_target_user_id, :value => @receive_user.id %>
      <% if MeetRequest.exists?(meet_request_user_id: @current_user.id, meet_target_user_id: @receive_user.id) %>
        <a class="btn btn-success btn-block disabled" role="button">送信済</a>
      <% else %>
        <%= form.submit '会いたい！', class: "btn btn-block btn-success"%>
      <% end %>
    <% end %>

    <% if @meet %>
      <div align="center">お互いに会いたいようです。<br>日程調整をしましょう。</div>

      <!-- 部分テンプレート化できる -->
      <%= form_for(DateSchedule.new) do |form|%>
        <%= form.hidden_field :date_sug_user_id, :value => @current_user.id%>
        <%= form.hidden_field :date_tar_user_id, :value => @receive_user.id%>
        <%= form.text_field :date_of_meet, id: :date_schedule_date_of_meet ,class: 'date-picker'%>
        <div class="actions" align="right">
          <%= form.submit '提案する', class: "btn btn-primary"%>
        </div>
      <% end %>
      <!-- 部分テンプレート化できる -->

      <strong>提案した予定</strong><br>
      <% if @sug_schedules.where(confirm:false).exists? %>
        <% @sug_schedules.where(confirm:false).reverse_each do |sug_schedule|%>
          <%= sug_schedule.date_of_meet.strftime("%Y年%m月%d日")%>
          <%= link_to '取消', date_schedule_path(sug_schedule.id), method: :delete,class:"btn btn-block btn-success"%><br>
        <% end %>
      <% else %>
        <p style="color:darkgray;">提案した予定はありません。</p>
      <% end %>

      <strong>提案された予定</strong><br>
      <% if @sugged_schedules.where(confirm:false).exists? %>
        <% @sugged_schedules.where(confirm:false).reverse_each do |sugged_schedule|%>
          <%= sugged_schedule.date_of_meet.strftime("%Y年%m月%d日")%><br>
          <%= form_for(DateSchedule.find_by(id:sugged_schedule.id)) do |form|%>
            <%= form.hidden_field :confirm, :value => true %>
            <%= form.submit "確定", class:"btn btn-block btn-primary" %>
          <% end %>
        <% end %>
      <% else %>
        <p style="color:darkgray;">提案された予定はありません。</p>
      <% end %>

      <strong>確定した予定</strong><br>
      <% if @sug_schedules.where(confirm:true).exists? %>
        <% @sug_schedules.where(confirm:true).reverse_each do |schedule|%>
          <%= schedule.date_of_meet.strftime("%Y年%m月%d日")%><br>
        <% end %>
      <% end %>
      <% if @sugged_schedules.where(confirm:true).exists? %>
        <% @sugged_schedules.reverse_each do |schedule|%>
          <%= schedule.date_of_meet.strftime("%Y年%m月%d日")%><br>
        <% end %>
      <% end %>
      <% if @sug_schedules.where(confirm:true).exists? || @sugged_schedules.where(confirm:true).exists? %>
      <% else %>
        <p style="color:darkgray;">提案された予定はありません。</p>
      <% end %>

    <% end %>
  </div>
  <%= link_to 'マッチを解除', match_request_path(@match_to.id), method: :delete,class:"btn btn-block btn-success"%><br>
  
  </div>
</div>
</div>
<!-- <nav class="navbar fixed-bottom navbar-light" style="background-color: #120A4A; color:#ffa500;">
    <div class="navbar-center">
        <%= link_to image_tag(@receive_user.image, class: "rounded-circle", size:"25x25"), controller: :users, action: :profile, id:@receive_user %>
        <%= @receive_user.name %>
    </div>
  </div>
</nav> -->

<!-- <?php
$json = json_decode(file_get_contents('http://webservice.recruit.co.jp/hotpepper/genre/v1/?key=your_api_key&format=json'));
?>
<html>
    <head>
        <title>ホットペッパーAPIデモ</title>
    </head>
    <body>
        <div class="container">
            <h1>ホットペッパーAPIデモ</h1>
            <p>飲食店のジャンル一覧を表示する。</p>
            <p>リクエスト先URL: http://webservice.recruit.co.jp/hotpepper/genre/v1/?key=94ea8e83aa8a8d58&format=json</p>
            <ul class="genres">
                <?php foreach($json->results->genre as $genre): ?>
                    <li class="genre">
                        ジャンル名: <?php echo $genre->name ?><br/>
                        ジャンルコード: <?php echo $genre->code ?>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </body>
</html> -->
</div>
