<!-- <p id="notice"><%= notice %></p> -->
<div class="sample">
<% if params[:notice] %>
  <div class="alert alert-success" role="alert"><%= params[:notice] %></div>
<% end %>
<br><br>
<div class="row" style="padding:2%;">
  <div class="container col-md-7"  style="background-color:#4BB1FF;">
    <%= form_with model: Message.new do |form| %>
      <div class="field">
        <%= form.hidden_field :send_user_id, :value => @current_user.id %>
        <%= form.hidden_field :receive_user_id, :value => @receive_user.id %>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend"><span class="input-group-text">To: <%= @receive_user.name%></span></div>
        <% form.label :body %>
        <%= form.text_field :body, id: :message_body, class: "form-control", placeholder: "想いを伝えよう。" %>
        <div class="input-group-append">
          <%= form.submit "送信",class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <div class="box_srcollbar">
    <% if @messages %>
      <% @messages.reverse_each do |message| %>
          <div class="comment_area">
            <div ng-repeat="data in hoge.chatdata">
              <div class="row">
                <div class="col-md-12">
                  <% if message.send_user_id == @current_user.id %>
                    <div class="pull-right">
                      <%= image_tag @current_user.image, :size => "25x25" ,class: "rounded-circle" %>
                      <%= @current_user.name %>
                    </div>
                    <p class="right_balloon"><%= message.body %></p>
                  <% else message.receive_user_id == @current_user.id %>
                    <span ng-if="data.type == 'chat'">
                      <div class="pull-left">
                        <%= link_to image_tag(@receive_user.image, class: "rounded-circle", size:"25x25"), controller: :users, action: :profile, id:@receive_user%>
                        <!-- <%= image_tag @receive_user.image, :size => "25x25" ,class: "rounded-circle" %> -->
                        <%= @receive_user.name %>
                      </div>
                      <p class="left_balloon"><%= message.body %></p>
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="container col-md-4">
    <div class="box">
    <p align="center">会いたい！ボタン</p>
    <%= form_for(MeetRequest.new,url: meet_requests_url) do |form|%>
      <%= form.hidden_field :meet_request_user_id, :value => @current_user.id %>
      <%= form.hidden_field :meet_target_user_id, :value => @receive_user.id %>
      <% if MeetRequest.exists?(meet_request_user_id: @current_user.id, meet_target_user_id: @receive_user.id) %>
        <a class="btn btn-success btn-block disabled" role="button">送信済</a>
      <% else %>
        <%= form.submit '会いたい！', class: "btn btn-block btn-success"%>
      <% end %>
    <% end %>
    
    <% if @meet %>
      <div align="center">お互いに会いたいようです。<br>日程調整をしましょう。</div>
      <%= render :partial => "date_schedules/form",:locals => {date_schedule:DateSchedule.new,date_sug_user_id:@current_user.id,date_tar_user_id:@receive_user.id}%>
    <% end %>

    <strong>提案した予定</strong><br>
    <% if @sug_schedules.exists? %>
      <% @sug_schedules.reverse_each do |sug_schedule|%>
        <%= sug_schedule.date_of_meet.strftime("%Y年%m月%d日")%>
        <%= link_to '取消', date_schedule_path(sug_schedule.id), method: :delete,class:"btn btn-block btn-success"%><br>
      <% end %>
    <% else %>
      <p style="color:darkgray;">提案した予定はありません。</p>
    <% end %>

    <strong>提案された予定</strong><br>
    <% if @sugged_schedules.exists? %>
      <% @sugged_schedules.reverse_each do |sugged_schedule|%>
        <%= sugged_schedule.date_of_meet.strftime("%Y年%m月%d日")%><br>
        <%= form_for(DateSchedule.find_by(id:sugged_schedule.id)) do |form|%>
          <%= form.hidden_field :confirm, :value => true %>
          <%= form.submit "確定", class:"btn btn-block btn-primary" %>
        <% end %>
      <% end %>
    <% else %>
      <p style="color:darkgray;">提案された予定はありません。</p>
    <% end %>
  </div>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-light" style="background-color: #120A4A; color:#ffa500;">
    <div class="navbar-center">
        <%= link_to image_tag(@receive_user.image, class: "rounded-circle", size:"25x25"), controller: :users, action: :profile, id:@receive_user %>
        <%= @receive_user.name %>
    </div>
  </div>
</nav>
</div>
