<p id="notice"><%= notice %></p>

<h1>Messages</h1>
<!-- <p style="color:Red"><%= @current_user.name %>_<%= @current_user.id %>でログイン中</p> -->
<!-- 新規メッセージの作成 -->
<%= form_with model: Message.new do |form| %>
  <div class="field">
    <% form.label :body %>
    <%= form.text_field :body, id: :message_body %>
  </div>
  <div class="field">
    <%= form.hidden_field :send_user_id, :value => @current_user.id %>
    <%= form.hidden_field :receive_user_id, :value => @receive_user.id %>
  </div>
  <div class="actions">
    <%= form.submit "送信"%>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <!--th>Body</th>
      <th>Send user</th>
      <th>Receive user</th-->
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.reverse_each do |message| %>
    <div class="container-fluid">
      <div class="comment_area">
        <div ng-repeat="data in hoge.chatdata">
          <div class="row">
            <div class="col-md-12">
              <% if message.send_user_id == @current_user.id %>
              <%= image_tag @current_user.image, :size => "25x25" ,class: "rounded-circle" %>
              <%= @current_user.name %>
                <p class="right_balloon"><%= message.body %></p>
              <% else message.receive_user_id == @current_user.id %>
                <span ng-if="data.type == 'chat'">
                  <p class="left_balloon"><%= message.body %></p>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
        <td><% message.send_user_id %></td>
        <td><% message.receive_user_id %></td>
        <td><% link_to 'Show', message %></td>
        <td><% link_to 'Edit', edit_message_path(message) %></td>
        <td><% link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>





<% link_to 'New Message', new_message_path %>
