<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-fluid col-md-8">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name, class:"form-control" %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email,class:"form-control"%>
  </div>
  <!-- パスワードは認証の処理が必要 -->
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password,class:"form-control"%>
  </div>
  <p class="lead">画像を追加</p>
  <div class="row">
    <div class="container col-md-3">
      <div class="field" style="padding:2%">
          <%= image_tag user.image, class:"rounded", style:"padding:2%" %>
          <%= form.file_field :image, class:"filestyle", "data-buttonText": "ファイル選択" %>
      </div>
    </div>
    <div class="container col-md-3">
      <div class="field" style="padding:2%">
          <%= image_tag user.image2, class:"rounded", style:"padding:2%"%>
          <%= form.file_field :image2, class:"filestyle", "data-buttonText": "ファイル選択"%>
      </div>
    </div>
    <div class="container col-md-3">
      <div class="field" style="padding:2%">
          <%= image_tag user.image3, class:"rounded", style:"padding:2%"%>
          <%= form.file_field :image3, class:"filestyle", "data-buttonText": "ファイル選択"%>
      </div>
    </div>
    <div class="container col-md-3">
      <div class="field" style="padding:2%">
          <%= image_tag user.image4, class:"rounded", style:"padding:2%"%>
          <%= form.file_field :image4, class:"filestyle", "data-buttonText": "ファイル選択"%>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="self-introduciton">プロフィール</label>
    <!-- <%= form.text_area :selfintro do %> -->
    <!-- <textarea class="form-control" id="self-introduciton" rows="3"></textarea> -->
    <!-- <% end %> -->
    <%= form.text_area :selfintro, class: "form-control", rows: "3"%>
  </div>


  <div class="actions" align="right">
    <%= form.submit '更新',class:"btn btn-primary"%>
  </div>


<% end %>
