<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-fluid col-8" style="background-color:white;padding:3%;box-shadow: 0px 0px 8px silver;">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name, class:"form-control" %>
  </div>
  <div class="field">
    <div class="row">
      <div class="col-6">
        <%= form.label '年齢' %><br>
        <%= form.select :age, @age_range, :selected => 18, class:"form-control" %><br>
        <span style="color:gray;">※後から変更できません</span>
      </div>
      <div class="col-6">
        <label>性別</label><br>
        <label><%= form.radio_button :sex, 0, :checked => "checked" %> 男性</label>
        <label><%= form.radio_button :sex, 1 %> 女性</label><br>
        <span style="color:gray;">※後から変更できません</span>
      </div>
    </div>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email,class:"form-control"%>
  </div>
  <!-- パスワードは認証の処理が必要 -->
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password,class:"form-control"%>
  </div>
  <p class="lead">画像を追加</p>
  <div class="row">
    <div class="container col-md-3">
      <div class="field" style="padding:2%">
        <!--onClickで画像タップが画像選択になる。idで同じところを探してる。-->
        <%= image_tag user.image, class:"rounded", style:"padding:2%",onClick:"$('#upfile').click()",id:"img_prev" %>
        <%= form.file_field :image,style:"display:none;", id:"upfile"%>
          <!-- <%= image_tag user.image, class:"rounded", style:"padding:2%",id:"img_prev" %>
          <%= form.file_field :image, id:"post_post_img"%> -->
          <script type="text/javascript">
          $(function() {
            function readURL(input) {
              if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                  $('#img_prev').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
              }
            }

            $("#upfile").change(function(){
              $('#img_prev').removeClass('hidden');
              readURL(this);
            });
          });
          </script>
      </div>
    </div>
    <div class="container col-md-3">
      <div class="field" style="padding:2%">
          <%= image_tag user.image2, class:"rounded", style:"padding:2%",onClick:"$('#upfile2').click()",id:'img_prev2' %>
          <%= form.file_field :image2, style:"display:none;", id:"upfile2"%>
          <script type="text/javascript">
          $(function() {
            function readURL(input) {
              if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                  $('#img_prev2').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
              }
            }

            $("#upfile2").change(function(){
              $('#img_prev2').removeClass('hidden');
              readURL(this);
            });
          });
          </script>
      </div>
    </div>
    <div class="container col-md-3">
      <div class="field" style="padding:2%">
          <%= image_tag user.image3, class:"rounded", style:"padding:2%", onClick:"$('#upfile3').click()",id:"img_prev3"%>
          <%= form.file_field :image3, style:"display:none;", id:"upfile3" %>
          <script type="text/javascript">
          $(function() {
            function readURL(input) {
              if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                  $('#img_prev3').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
              }
            }

            $("#upfile3").change(function(){
              $('#img_prev3').removeClass('hidden');
              readURL(this);
            });
          });
          </script>
      </div>
    </div>
    <div class="container col-md-3">
      <div class="field" style="padding:2%">
        <%= image_tag user.image4, class:"rounded", style:"padding:2%", onClick:"$('#upfile4').click()",id:"img_prev4"%>
        <%= form.file_field :image4, style:"display:none;", id:"upfile4"%>
        <script type="text/javascript">
        $(function() {
          function readURL(input) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function (e) {
                $('#img_prev4').attr('src', e.target.result);
              }
              reader.readAsDataURL(input.files[0]);
            }
          }

          $("#upfile4").change(function(){
            $('#img_prev4').removeClass('hidden');
            readURL(this);
          });
        });
        </script>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="self-introduciton">プロフィール</label>
    <%= form.text_area :prof, class: "form-control", rows: "3"%>
  </div>


  <div class="actions">
    <%= link_to 'ホームに戻る',sessions_new_path, class:"btn btn-primary", align:"left"%>
    <%= form.submit '利用規約に同意して登録',class:"btn btn-success", align:"right"%>
  </div>

<% end %>
