<p id="notice"><%= notice %></p>
current_user_id:<%= session[:user_id] %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>matchers:</strong>
  <% @user.matchers.each do |matcher| %>
    <%= matcher.name %>
  <% end %>
</p>

<p>
  <strong>images:</strong>
  <% if @user.image %>
    <%= image_tag @user.image %>
  <% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
