<p id="notice"><%= notice %></p>
<h1>ホーム画面</h1>
<!-- <p style="color:Red"><%= @current_user.name %>_<%= @current_user.id %>でログイン中</p> -->
<div class="field">
  <strong>あなたのお名前：</strong>
  <%= @user.name %>
</div>
<div class="field">
  <strong>あなたのプロフィール画像</strong><br>
  <% if @user.image %>
    <%= image_tag @user.image %>
  <% end %>
</div>
<div class="container fluid">
  <strong>マッチした相手にメッセージを送る</strong><br>
  <div class = "row">
    <% @user.matchers.each do |matcher| %>
      <div container>
        <div class="card text-center" style="width: 13rem;">
          <%= image_tag matcher.image, class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h5 class="card-title"><%= matcher.name %></h5>
            <p class="card-text"></p>
            <%= link_to messages_path(receive_id: matcher.id, send_id: @user.id) do %>
              <button type="button" class="btn btn-primary">メッセージを送る</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to edit_user_path(@user) do %>
  <button type="button" class="btn btn-outline-primary btn-lg btn-block">プロフィールを編集</button>
<% end %>
<br>
<!-- <%= link_to match_requests_target_user_list_path(@current_user) do %>
  <button type="button" class="btn btn-outline-primary btn-lg btn-block">マッチを探す</button>
<% end %>
<br>
<%= link_to logout_path, method: :delete do%>
  <button type="button" class="btn btn-outline-primary btn-lg btn-block">ログアウト</button>
<% end %> -->
