<p id="notice"><%= notice %></p>
<h1>ホーム画面</h1>
<p style="color:Red"><%= @current_user.name %>_<%= @current_user.id %>でログイン中</p>
<!-- デフォルトがgetアクセスなのでmethod: :deleteの指定が必要 -->
<!-- rails routesでlogoutになっていればlogout_pathで取得できる -->
<%= link_to 'ログアウト', logout_path, method: :delete %>
<p>
  <strong>あなたのお名前：</strong>
  <%= @user.name %>
</p>

<p>
  <strong>あなたのプロフィール画像</strong><br>
  <% if @user.image %>
    <%= image_tag @user.image %>
  <% end %>
</p>

<p>
  <strong>マッチした相手にメッセージを送る</strong><br>
  <% @user.matchers.each do |matcher| %>
    <%= link_to matcher.name, messages_path(receive_id: matcher.id, send_id: @user.id) %>
    <!-- imageのサイズ調整必須 -->
    <%= image_tag matcher.image %><br>
  <% end %>
</p>



<%= link_to 'プロフィールを編集', edit_user_path(@user) %><br>
<%= link_to 'マッチを探す', {controller: :match_requests, action: :target_user_list} %>
<!-- <%= link_to 'Back', users_path %> -->
