<p id="notice"><%= notice %></p>

<h1>Target Users</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <%= form_for(model: MatchRequest.new) do |form| %>
      <tr>
        <td><%= link_to user.name,{controller: :user, action: :profile},id: user.id %></td>
        <%= form.hidden_field :request_user_id, :value => @current_user.id%>
        <%= form.hidden_field :target_user_id, :value => user.id%>
        <%= form.submit %>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<br>
